@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-family: 'Gotham', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #7cc576;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #97d193;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: transparent;
    box-shadow: 0 4px 7px -3px rgba(191, 191, 191, 0.24);
  }
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  @media (max-width: 992px) {
    #header {
      height: 70px;
    }
  }
  
  .scrolled-offset {
    margin-top: 90px;
  }
  @media (max-width: 992px) {
    .scrolled-offset {
      margin-top: 90px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 10px;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #151515;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #080808;
    font-weight: bold;
  }
  .navbar img {
    width: 30px;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #7cc576;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #151515;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: black;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #151515;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #7cc576;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #7cc576;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  #hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.884);
    position: relative;
  }
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  #hero .hero-logo {
    margin-bottom: 30px;
  }
  #hero h1 {
    margin: 0 0 30px 0;
    font-weight: 500;
    line-height: 20px;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.712);
    margin-top: auto;
  }
  #hero h2 {
    color: #aeaeae;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  #hero h3 {
    color: #aeaeae;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 30vh;
    text-transform: uppercase;
  }
  #hero h4 {
    color: #aeaeae;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
  }
  #hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 3px;
    margin: 10px;
    color: #fff;
    border: 1px solid #7531b4cc;
  }
  #hero .btn-get-started:hover {
    transition: 0.5s ease-in-out;
    background: rgba(15, 132, 185, 0.726);
    color: #7cc576;
    border: 1px solid transparent;

  }


  @media (max-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
    #hero h1 {
      font-size: 45px;
      line-height: 36px;
      margin-top: 25vh;
    }
    #hero h2 {
      line-height: 22px;
      font-size: 22px;
    }
    #hero h3 {
      font-size: 12px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
      margin-top: 20vh;
    }
    #hero h4 {
      font-size: 12px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
    }
  }
  @media (max-width: 800px) {
    #hero h1 {
      font-size: 35px;
      line-height: 36px;
      margin-top: 35vh;    
    }
    #hero h2 {
      line-height: 22px;
      font-size: 20px;
    }
    #hero h3 {
      font-size: 12px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
      margin-top: 20vh;
    }
    #hero h4 {
      font-size: 12px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
    }
  }
  @media (max-width: 800px) {

    #hero h3 {
      margin-top: 10vh;
    }
  }
  @media (max-width: 650px) {
    #hero h1 {
      font-size: 25px;
      line-height: 36px;
      margin-top: 30vh; 
    }
    #hero h2 {
      line-height: 22px;
      font-size: 20px;
    }
    #hero h3 {
      font-size: 10px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
      margin-top: 10vh;
    }
    #hero h4 {
      font-size: 10px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
    }
  }
  @media (max-width: 500px) {
    #hero h1 {
      font-size: 25px;
      line-height: 36px;
      margin-top: 10vh;
    }
    #hero h2 {
      line-height: 22px;
      font-size: 20px;
    }
    #hero h3 {
      font-size: 10px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
      margin-top: 25vh;
    }
    #hero h4 {
      font-size: 10px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
    }
  }
  @media (max-width: 400px) {
    #hero h1 {
      font-size: 25px;
      line-height: 36px;
      margin-top: 15vh;
    }
    #hero h2 {
      line-height: 22px;
      font-size: 15px;
    }
    #hero h3 {
      font-size: 10px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
      margin-top: 10vh;
    }
    #hero h4 {
      font-size: 10px;
      margin-left: 1vh;
      margin-right: 1vh;
      text-align: justify;
    }
  }
  
  .carrousel {
  
    width: 100%;
    height: 100vh;
    
  
  }
  .carrousel .owl-carousel {
  
    width: 100%;
    height: 100%;
  
  
  }
  .carrousel .owl-carousel .item {
  
    width: 90%;
    height: 100%;
    margin: auto;
    border: none;
  
    display: flex;
    
  }
  
  .carrousel .owl-carousel .item .box {
  
    width: 50%;
    height: 100%;
  
    display: inline;
    font-family: 'Gotham', sans-serif;
  }
  .carrousel .owl-carousel .item .box-imagem {
  
    width: 50%;
    height: 100%;
    margin-top: 5vh;
    display: inline;
    font-family: 'Gotham', sans-serif;
  }
  
  .carrousel .owl-carousel .item .box h3 {
  
    margin-top: 15vh;
    margin-left: 10vh;
    font-size: 23px;
  
  }
  .carrousel .owl-carousel .item .box h2 {
    width: 70%;
    margin-top: 2vh;
    margin-left: 10vh;
    font-size: 30px;
    border-bottom: 3px solid orangered;
  }
  .carrousel .owl-carousel .item .box h4 {
  
    width: 80%;
    text-align: justify;
    margin-top: 5vh;
    margin-left: 10vh;
    font-size: 20px;
    line-height: 30px;

  }
  .carrousel .owl-carousel .item .box-imagem video {
  
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 0vh;
    margin-left: 10vh;
  
  }

  .carrousel .owl-carousel .item .box .row {
  
    width: 50%;
    height: 10vh;
    margin-left: 20vh;
    margin-top: 2vh;
  }
  .carrousel .owl-carousel .item .box .row .col-4{
  
    height: 100%;

  }
  .carrousel .owl-carousel .item .box .row .col-4 img{
    margin-left: auto;
    margin-right: auto;

    width: 100px;
    height: 100px;
  }
  .carrousel .owl-carousel .item .box iframe {
  
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 15vh;
    margin-left: 10vh;
  
  }

  .carrousel .owl-carousel .item .box .btn {
  
    margin-top: 5vh;
    margin-left: 10vh;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }

  @media (max-width: 1400px) {


    .carrousel .owl-carousel .item .box-imagem video {
  
      margin-top: 30vh;
    
    }

  }

  @media (max-width: 1200px) {

    .carrousel .owl-carousel .item .box h3 {
  
      font-size: 17px;
      margin-left: 5vh;
    
    }
    .carrousel .owl-carousel .item .box h2 {

      font-size: 21px;
      margin-left: 5vh;
    }
    .carrousel .owl-carousel .item .box h4 {

      font-size: 20px;
      line-height: 25px;
      width: 100%;
      margin-left: 5vh;
  
    }
    .carrousel .owl-carousel .item .box .btn {

      font-size: 15px;
      margin-left: 5vh;
  
    }
    .carrousel .owl-carousel .item .box-imagem video {
  
      margin-top: 20vh;
      height: 100%;
    
    }

  }
  
  
  @media (max-width: 600px) {
    .carrousel {
      width: 100%;
      height: auto;
    }
    .carrousel .owl-carousel .item {
  
      width: 100%;
      height: 100vh;
      margin-top: 10vh;
      display: inline;
    }
    .carrousel .owl-carousel .item .box {
  
      width: 100%;
      height: auto;
    
      display: inline;
      font-family: 'Gotham', sans-serif;
    }
    .carrousel .owl-carousel .item .box-imagem {
      width: 100%;
      height: auto;


    }    
    .carrousel .owl-carousel .item .box-imagem video {
      background-color: black;
      margin-left: 5vh;
      margin-top: 3vh;
    }
    .carrousel .owl-carousel .item .box .btn {
      width: 70%;
      margin-left: 15%;
      margin-right: 10%;
    }
  
    .carrousel .owl-carousel .item .box h3 {
  
      margin-top: 15vh;
      margin-left: 2vh;
      margin-right: 2vh;
      font-size: 17px;
    
    }
    .carrousel .owl-carousel .item .box h2 {
      width: 80%;
      margin-top: 1vh;
      margin-left: 2vh;
      margin-right: 2vh;
      font-size: 21px;
    }
    .carrousel .owl-carousel .item .box h4 {
    
      width: 90%;
      margin-left: 2vh;
      margin-right: 2vh;
      font-size: 15px;
      line-height: 25px;
  
    }
  
    .carrousel .owl-carousel .item .box iframe {
  
      width: 90%;
      height: 90%;
      margin-top: 15vh;
      margin-left: 2vh;
    
    }
  }
  
  .carrousel .owl-carousel .item:hover {
  
    transition: .4s ease;
    border-radius: 20px ;
    
  }
  .carrousel .owl-carousel .item img {
    
    width: 100%;
    height: 100vh;
    border-radius: 2px;
    cursor: pointer;
  }
  .carrousel .owl-carousel .item:hover img {
    transition: .4s ease;
    border-radius: 20px;
  }


.botao {
  width: 100%;
  height: 10vh;
  margin-top: 15vh;

}
.botao .imagem {
  width: 10%;
  height: 100%;
  opacity: .7;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.botao .imagem:hover {
  opacity: 1;
  transition: .4s ease-in-out;
}
.botao .imagem img {
  width: 100px;
}




.guide {
  width: 100%;
  height: 150vh;

}
.guide .title {
  width: 100%;
  height: 15vh;
  margin-top: 10vh;

  text-align: center;
}.guide .title h3 {
  font-size: 20px;
  margin-top: 3vh;
}
.guide .col-12 {
  width: 80%;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;


  height: 30vh;
  display: flex;
}
.guide .col-12 .col-6 {
  height: 30vh;
  border-radius: 5px;
  
}
.guide .col-12 .col-6 h2 {
  width: 90%;
  text-align: left;
  font-size: 25px;
  margin-top: 2vh;
  margin-left: 3vh;
  font-family: 'Gotham', sans-serif;
  color: black;
}
.guide .col-12 .col-6 h3 {
  width: 90%;
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: auto;
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
  padding: 0;
  padding-top: 3vh;
  border-top: .5px solid rgba(226, 11, 11, 0.603);
}
.guide .col-12 .col-6 .btn {
  
  margin-top: 4vh;
  margin-left: 3vh;
  border: none;
  background-color: rgba(255, 0, 0, 0.726);
}


@media (max-width:1050px) {
  .guide {
    height: 170vh;
  }
  .guide .col-12 {
    margin-top: 10vh;
    height: 45vh;

  }
  .guide .col-12 .col-6 {

    height: 45vh;

  }
  .guide .col-12 .col-6 .btn {
  
    margin-top: 2vh;
  }
  
}
@media (max-width:950px) {
  .guide {
    height: 170vh;
  }
  .guide .col-12 {
    margin-top: 10vh;
    height: 45vh;

  }
  .guide .col-12 .col-6 {

    height: 45vh;

  }
  .guide .col-12 .col-6 .btn {
  
    margin-top: 2vh;
  }
  
}
@media (max-width:680px) {
  .guide {
    height: 200vh;
  }
  .guide .col-12 {
    margin-top: 25vh;

  }
  .guide .col-12 .col-6 iframe {
    margin-top: 10vh;
  }
  
}
@media (max-width:550px) {
  .guide {
    height: 200vh;
  }
  .guide .col-12 {
    display: inline-block;
    margin-top: 0vh;
  }
  .guide .col-12 .col-6 {
    width: 400px;
    height: 70%;
  }
  .guide .col-12 .col-6 h2 {
    margin-top: 5vh;
    width: 400px;
    margin-left: 0vh;
    font-size: 18px;
  }
  .guide .col-12 .col-6 h3 {
    width: 400px;
    margin-left: 0vh;
  }
  .guide .col-12 .col-6 iframe {
    width: 400px;
    margin-top: 2vh;
  }
  .guide .col-12 .col-6 .btn {
    margin-left: 0vh;
  }

}
@media (max-width:450px) {
  .guide {
    height: 200vh;
  }
  .guide .col-12 {
    display: inline-block;
    margin-top: 0vh;
  }
  .guide .col-12 .col-6 {
    width: 300px;
  }
  .guide .col-12 .col-6 h2 {
    margin-top: 5vh;
    width: 300px;
    font-size: 14px;
  }
  .guide .col-12 .col-6 h3 {
    width: 300px;
    font-size: 10px;
  }
  .guide .col-12 .col-6 iframe {
    width: 300px;
    margin-top: 2vh;
  }

}
@media (max-width:350px) {
  .guide {
    height: 200vh;
  }
  .guide .col-12 {
    display: inline-block;
    margin-top: 0vh;
  }
  .guide .col-12 .col-6 {
    width: 200px;
  }
  .guide .col-12 .col-6 h2 {
    margin-top: 5vh;
    width: 200px;
  }
  .guide .col-12 .col-6 h3 {
    width: 200px;
  }
  .guide .col-12 .col-6 iframe {
    width: 270px;
    margin-top: 2vh;
  }

}

.title {
  width: 100%;
  margin-top: 20vh;
  margin-bottom: 10vh;
  text-align: center;

}

.title h2{
  font-size: 35px;

}
.title h3{
  font-size: 20px;
  margin-top: 2vh;

}


#servicos {
  height: 70vh;
  margin-top: 20vh;
}
#servicos .container {

  height: 70vh;
  margin-top: 10vh;
}
#servicos .badge {
  font-weight: 400;
}

#servicos .element-item  {

  width: 90%;
  height: 30vh;
  margin-left: 5%;
  margin-right: 10%;
}
#servicos .element-item h2  {
  font-size: 25px;
  line-height: 45px;
  text-align: justify;
  font-weight: 100;
}
#servicos .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#servicos .element-item img:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

#servicos .button-group {
  margin-bottom: 30px;
  height: 5vh;
  width: 100%;
  
  margin-left: auto;
  margin-right: auto;
}

#servicos .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  align-items: center;
}

#servicos .button-group button + button {
  margin-left: 20px;
  padding-top: 1vh;

  border-radius: 10px;
  padding: 1vh;
}

#servicos .button-group button.active {
  color: black;
  background-color: rgba(255, 0, 0, 0.726);
  border-radius: 10px;
  padding: 1vh;

}
#servicos .row {

  height: 50vh;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}
#servicos .row h2 {

  height: 50vh;
}
@media (max-width: 1050px) {

  #servicos .element-item h2  {
    font-size: 17px;
  }
}
@media (max-width: 850px) {

  #servicos .element-item h2  {
    font-size: 17px;
  }
}
@media (max-width: 750px) {
  
  #servicos .button-group {
    
    font-size: 12px;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #servicos .button-group button {
    
    margin-left: 2vh;
    width: 120px;
  }
  #servicos .element-item h2  {
    font-size: 15px;
  }
  }
@media (max-width: 550px) {
  
#servicos .button-group {
  
  font-size: 12px;
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#servicos .button-group button {
  
  margin-left: 2vh;
  width: 120px;
}
#servicos .element-item h2  {
  font-size: 15px;
}
}
@media (max-width: 500px) {
  
  #servicos .button-group {
    
    font-size: 10px;
    height: auto;
    width: 90%;
  }
  #servicos .button-group button {
    
    margin-left: 2vh;
    width: 100px;
  }
  #servicos .element-item h2  {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  
  #servicos .button-group {
    
    font-size: 10px;
    height: auto;
    width: 100%;
  }
  #servicos .button-group button {
    
    margin-left: 2vh;
    width: 100px;
  }
  #servicos .element-item h2  {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  
  #servicos .button-group {
    
    font-size: 10px;
    height: auto;
    width: 80%;
  }
}
@media (max-width: 280px) {
  
  #servicos .button-group {
    
    font-size: 10px;
    height: auto;
    width: 100%;
    font-size: 9px;
  }
  #servicos .button-group button {
    
    margin-left: 2vh;
    width: 80px;
  }
}

#poster {
  width: 100%;
  height: 60vh;
  display: grid;
}
#poster .grid-collum {

  width: 100%;
  height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#poster .grid-collum  {
	grid-template-rows: 70%;
}


/* Grid Item */
#poster .item {
	margin: 5px;
	background: rgba(204, 202, 202, 0.836);
	text-align: center;
	font-size: 1.5em;
  cursor: pointer;
  color: transparent;
  display: inline-block;
}

#poster .item:hover {
	margin: 5px;
	background: rgba(15, 15, 15, 0.658);
	text-align: center;
	font-size: 1.5em;
  color: transparent;
}
#poster .item:hover h2 {
  position: absolute;
  margin-top: -30vh;
  transition: 1.5s ease-in-out;
  margin-left: 10%;
  opacity: 1;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

#poster .item img {
	width: 100%;
  height: 100%;
  margin-top: 0vh;
}

#poster .grid {

	max-width: 80vh;
	margin: 0 auto;
    margin-top: 10vh;

}

@media (max-width:550px) {
  
#poster {
  width: 100%;
  height: 40vh;
  display: grid;
}

#poster .item:hover h2 {
  position: absolute;
  margin-top: -10vh;
  transition: .5s ease-in-out;
  margin-left: 0vh;
  opacity: 1;
  font-size: 10px;
  color: white;
  font-weight: bold;
}

}



#grid-template {
  width: 100%;
  height: 80vh;


}
#grid-template .section-title {
margin-top: 20vh;
text-align: center;
}


#grid-template .grid {
display: grid;
}

#grid-template .logo {
grid-area: logo;
}

#grid-template .nav {
grid-area: nav;
}

#grid-template .content {
grid-area: content;
}

#grid-template .sidenav {
grid-area: sidenav;
}

#grid-template .advert {
grid-area: advert;
}

#grid-template .footer {
grid-area: footer;
}

#grid-template .grid-template-areas-1 {
grid-template-areas:
  "logo nav nav"
  "sidenav content advert"
  "sidenav footer footer"
  ;
}

#grid-template .grid-template-areas-2 {
grid-template-areas:
  "sidenav logo nav"
  "sidenav content advert"
  "sidenav content footer"
  ;
}

#grid-template .grid-template-areas-3 {
grid-template-areas:
  "logo logo"
  "nav nav"
  "content content"
  "sidenav advert"
  "footer footer"
  ;
}

#grid-template .grid-template-areas-4 {
grid-template-columns: 30% 60% 10%;
grid-template-rows: 50px 150px 50px;
grid-template-areas:
  "logo nav nav"
  "sidenav content advert"
  "sidenav footer footer"
  ;
}

#grid-template .grid-template-areas-5 {
grid-template-areas:
  "logo content nav"
  ". content advert"
  "sidenav footer ."
  ;
}

/* Grid Item */
#grid-template .item {
margin: 5px;  
text-align: center;
font-size: 1.5em;
background-color: rgb(238, 22, 58);
}


#grid-template .grid {
max-width: 80%;
height: 50vh;
margin: 0 auto;
margin-top: 10vh;
}

#grid-template h1 {
text-align: center;
font-size: 1.25em;
font-weight: normal;
}




#poema {
  width: 100%;
  height: 100vh;
  margin-top: 30vh;
  background-color: rgba(0, 0, 0, 0.884);
}
#poema .container {
  position: absolute;
  width: 50%;
  height: 80vh;
  margin-top: 7%;
  margin-left: 25%;
  margin-right: 25%;

}
.titulo-principal{
  max-width: 55%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  #poema {
    width: 100%;
    height: 100vh;
  }
  #poema .container {
    width: 90%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
  
  }
  .titulo-principal{
    max-width: 100%;
    width: 100%;
    margin-left: 0vh;
    font-size: 19px;

  }
}
@media (max-width: 400px) {
  #poema {
    width: 100%;
    height: 100vh;
  }
  #poema .container {
    width: 90%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
  
  }
  .titulo-principal{
    max-width: 100%;
    width: 100%;
    margin-left: 0vh;
    font-size: 19px;

  }
}
@media (max-width: 390px) {
  #poema {
    width: 100%;
    height: 100vh;
  }
  #poema .container {
    width: 90%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
  
  }
  .titulo-principal{
    max-width: 100%;
    width: 100%;
    margin-left: 0vh;
    font-size: 19px;

  }
}
@media (max-width: 375px) {
  #poema {
    height: 120vh;
  }
}
@media (max-width: 340px) {
  #poema {
    height: 110vh;
  }
}



#data-resource {
  margin-top: 0vh;
}
.bg_video{

	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: 100%; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
}

