@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-family: 'Gotham', sans-serif;
  background-image: url('./teste.jpg');
  background-position: fixed;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #7cc576;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #97d193;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: transparent;
    box-shadow: 0 4px 7px -3px rgba(191, 191, 191, 0.24);
  }
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    width: 90px;

  }
  @media (max-width: 992px) {
    #header {
      height: 70px;
    }
  }
  
  .scrolled-offset {
    margin-top: 90px;
  }
  @media (max-width: 992px) {
    .scrolled-offset {
      margin-top: 90px;
    }
  }
  @media (max-width: 550px) {
    #header .logo img {
      padding: 0;
      margin: 0;
      width: 50px;
  
    }
  }

  .text-int {
    color: rgb(221, 76, 9);
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 10px;
  }
  .navbar li {
    position: relative;
    padding-right: 10px;

  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    color: #151515;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #080808;
    font-weight: bold;
  }
  .navbar img {
    width: 30px;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 10px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 180px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #10638a;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #151515;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 255, 255);
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 100px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;

    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    color: #151515;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #14a2bb;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 50px 50px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #7cc576;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
/* Home SECTION */

  #home {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.884);
    position: relative;
  }
  #home .home-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  #home .home-logo {
    margin-bottom: 30px;
  }
  #home h1 {
    margin: 0 0 30px 0;
    font-weight: 700;
    line-height: 20px;
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.753);
    font-family: 'Raleway', sans-serif;
    margin-top: 25vh;
  }
  #home h2 {
    color: #aeaeae;
    margin-bottom: 20px;
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
  }
  #home h3 {
    color: #aeaeae;
    margin-bottom: 30px;
    font-size: .7vw;
    line-height: 20px;
    font-weight: 400;
    margin-top: 25vh;
    text-transform: uppercase;
  }
  #home h4 {
    color: #aeaeae;
    margin-bottom: 1vh;
    font-size: .7vw;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Gotham', sans-serif;
  }
  #home .btn-get-started {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 30px;
    border-radius: 3px;
    margin: 10px;
    color: #fff;
    border: 1px solid #7531b4cc;
  }
  #home .btn-get-started:hover {
    transition: 0.5s ease-in-out;
    background: rgba(15, 132, 185, 0.726);
    color: #7cc576;
    border: 1px solid transparent;

  }

  @media (max-width: 1024px) {
    #home h1 {
      font-size: 4vw;
    }
    #home h2 {
      font-size: 1.5vw;
    }
    #home h3 {
      font-size: 1.3vw;
    }
    #home h4 {
      font-size: 1.3vw;
    }
  }
  @media (max-width: 950px) {
    #home h1 {
      font-size: 4vw;
    }
    #home h2 {
      font-size: 1.5vw;
    }
    #home h3 {  
      text-align: justify;
    }
    #home h4 {
    }
  }
  @media (max-width: 800px) {
    #home h1 {
      font-size: 4vw;
    }
    #home h2 {
      font-size: 1.5vw;
    }
    #home h3 {
      text-align: justify;
    }
  }
  @media (max-width: 600px) {
    #home h1 {
      font-size: 6vw;
    }
    #home h2 {
      font-size: 2vw;
    }
    #home h3 {
      font-size: 1.5vw;
      text-align: justify;
      margin-top: 25vh;
    }
    #home h4 {
      font-size: 1.5vw;
    }
  }
  @media (max-width: 450px) {
    #home h1 {
      font-size: 6vw;
    }
    #home h2 {
      font-size: 2.7vw;
    }
    #home h3 {
      font-size: 1.8vw;
      margin-top: 20vh;
      text-align: justify;
    }
    #home h4 {
      font-size: 1.8vw;
    }
  }
  @media (max-width: 350px) {
    #home h1 {
      font-size: 6vw;
    }
    #home h2 {
      font-size: 2.7vw;
    }
    #home h3 {
      text-align: justify;
    }
  }

  /* END home SECTION */
  
.carrousel {

    width: 100%;
    height: auto;
    margin-top: 20vh;
    background-color: transparent;
  
}
.carrousel .owl-carousel {
  
    width: 100%;
    height: 100%;  
    margin-top: 10vh;
}
.carrousel .owl-carousel .item {
  
    width: 100%;
    height: 100%;
    margin: auto;
    border: none;
    display: flex;
}
  
.carrousel .owl-carousel .item .box {
  
    width: 50%;
    display: inline;
    font-family: 'Gotham', sans-serif;
}
.carrousel .owl-carousel .item .box video {
    margin-left: 15%;
    margin-right: 15%;
    width: 60%;
    margin-top: 5vh;
    height: 100%;
  
}
.carrousel .owl-carousel .item .box h2 {
    width: 70%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 37px;
    border-bottom: 3px solid orangered;
}
.carrousel .owl-carousel .item .box h3 {
    width: 70%;
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 25px;
  
}
.carrousel .owl-carousel .item .box h4 {
  
    width: 70%;
    text-align: justify;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
    line-height: 30px;
  
}
.carrousel .owl-carousel .item .box .btn {
  
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 30%;
    margin-left: 15%;
    margin-top: 5vh;
}

.carrousel .owl-carousel .item img {
    
    width: 100%;
    height: 100vh;
    border-radius: 2px;
    cursor: pointer;
}

@media (max-width: 1024px) {
  .carrousel {
    height: auto;
  }
  .carrousel .owl-carousel .item{
    width: 100%;
    display: inline-block;
  }
  .carrousel .owl-carousel .item .box h2 {
   font-size: 30px;
}
  .carrousel .owl-carousel .item .box h3 {
    font-size: 25px;
  }
  .carrousel .owl-carousel .item .box h4 {
    font-size: 20px;
    line-height: 35px;
  }
  .carrousel .owl-carousel .item .box video {
    margin-top: 2vh;
    width: 70%;
  }
}

@media (max-width: 550px) {
  .carrousel {

    height: auto;
  }
  .carrousel .owl-carousel .item{
    width: 100%;
    display: inline-block;
  }
  .carrousel .owl-carousel .item .box h2 {
   font-size: 25px;
}
  .carrousel .owl-carousel .item .box h3 {
    font-size: 18px;
  }
  .carrousel .owl-carousel .item .box h4 {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 300px) {
  .carrousel .owl-carousel .item{
    width: 100%;
    display: inline-block;
  }
  .carrousel .owl-carousel .item .box h2 {
   font-size: 22px;
}
  .carrousel .owl-carousel .item .box h3 {
    font-size: 15px;
  }
  .carrousel .owl-carousel .item .box h4 {
    font-size: 15px;
    line-height: 30px;
  }
}


.botao {
  width: 100%;
  height: 10vh;
  margin-top: 5%;

}
.botao .imagem {
  width: 10%;
  height: 100%;
  opacity: .7;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.botao .imagem:hover {
  opacity: 1;
  transition: .4s ease-in-out;
}
.botao .imagem img {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}


.guide {
  width: 100%;
  height: auto;


}
.guide .title {
  width: 100%;
  height: 15vh;
  margin-top: 10vh;

  text-align: center;
}.guide .title h3 {
  font-size: 20px;
  margin-top: 3vh;
}
.guide .col-12 {
  width: 80%;
  height: auto;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;

  display: flex;
}
.guide .col-12 .col-sm {
  height: 30vh;
  width: 100%;
  border-radius: 5px;
}
.guide .col-12 .col-sm h2 {
  width: 90%;
  text-align: left;
  font-size: 25px;
  margin-top: 2vh;
  margin-left: 3vh;
  font-family: 'Gotham', sans-serif;
  color: black;
}
.guide .col-12 .col-sm h3 {
  width: 90%;
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: auto;
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
  font-weight: 100;
  padding: 0;
  padding-top: 3vh;
  border-top: .5px solid rgba(226, 11, 11, 0.603);
}
.guide .col-12 .col-sm .btn {
  
  margin-top: 4vh;
  margin-left: 3vh;
  border: none;
  background-color: rgba(255, 0, 0, 0.726);
}

@media (max-width: 1000px) {
  .guide {
    height: 200vh;
  }
  .guide .col-12 {
    width: 100%;
    margin-top: 5vh;
    display: inline-block;
  }
  .guide .col-12 .col-sm {
   width: 100%;

  }
  .guide .col-12 .col-sm iframe {
    width: 100%;
   }
}
@media (max-width: 550px) {
  .guide {
    height: auto;
    margin-top: 15vh;
  }
  .guide .title h2 {
  font-size: 24px;
  margin-top: 3vh;
  }
  .guide .title h3 {
    font-size: 12px;

    }
  .guide .col-12 .col-sm h2 {
    font-size: 20px;
    margin-left: 0vh;
  }
  .guide .col-12 .col-sm h3 {
    font-size: 15px;
    margin-left: 0vh;
}
.guide .col-12 .col-sm iframe {
  margin-left: 0vh;
  margin-top: 2vh;
  width: 90%;
}
.guide .col-12 .col-sm .btn {
  
  margin-left: 0vh;
}
}

.title {
  width: 100%;

  margin-top: 20vh;
  margin-bottom: 5vh;
  text-align: center;

}

.title h2{
  font-size: 35px;

}
.title h3{
  font-size: 20px;
  margin-top: 2vh;

}

#map {
  height: auto;
  margin-top: 10vh;
}
#map .title {
  width: 100%;
  height: 15vh;
  margin-top: 10vh;

  text-align: center;
}
#map .title h3 {
  font-size: 20px;
  margin-top: 3vh;
}
#map .container {

  height:auto;
  margin-top: 0vh;
}
#map .element-item  {

  width: 100%;
  height: auto;

}

#map .button-group {
  margin-bottom: 30px;
  height: 10vh;
  width: 100%;
  margin-left: 20px;
  margin-right: auto;
}

#map .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 70px;
  outline: none;
  align-items: center;
  cursor: pointer;
}

#map .button-group button + button {
  margin-left: 50px;
  padding-top: 1vh;
  border-radius: 10px;
  padding: 1vh;
}

#map .button-group button.active {
  color: black;
  background-color: rgba(255, 0, 0, 0.726);
  border-radius: 10px;
  padding: 1vh;
  margin-left: 50px;

}
#map .row {

  height: 50vh;
  width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}
#map .row .box {
  margin-left: 0vh;
  width: 100%;
}
#map .row h2 {

  font-size: 18px;
  width: 100%;
  text-align: justify;
  line-height: 50px;
}

@media (max-width: 550px) {
  #map {
    height: 130vh;

  }
  #map .title h2 {
    margin-top: 3vh;
    font-size: 25px;
  }

    #map .title h3 {
      font-size: 12px;
  }
  #map .row .box {
    margin-left: 0vh;
  }
  #map .row h2 {

    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    margin-left: 2.5%;
    
  }
  #map .button-group {
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #map .button-group button {
    margin-left: 20px;
    width: 40%;
    padding-top: 1vh;

    border-radius: 10px;
    padding: 1vh;
  }
  #map .button-group button + button {
    margin-left: 20px;
    width: 40%;
    padding-top: 1vh;

    border-radius: 10px;
    padding: 1vh;
  }
  #map .button-group button.active {
    color: black;
    background-color: rgba(255, 0, 0, 0.726);
    border-radius: 10px;
    padding-top: 1vh;
    padding: 1vh;
    margin-left: 20px;
    width: 40%;
  }
  
}
@media (max-width: 300px) {
  

  #map .button-group button {
    margin-left: 10px;
  }
  #map .button-group button + button {
    margin-left: 10px;
    width: 40%;

  }
  #map .button-group button.active {
    margin-left: 20px;
  }
  
}

#poster {
  width: 100%;
  height: auto;
  margin-top: 15vh;
  display: grid;

}
#poster .grid-collum {

  width: 100%;
  height: 100%;
	display: grid;
  margin-top: 10vh;
	grid-template-columns: 1fr 1fr 1fr;
}

#poster .grid-collum  {
	grid-template-rows: 70%;
}


/* Grid Item */
#poster .item {
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
  cursor: pointer;
  color: transparent;
  display: inline-block;
}

#poster .item:hover {
	margin: 5px;
	text-align: center;
	font-size: 25px;
  color: transparent;
  margin-left: -0vh;
}
#poster .item:hover h2 {
  position: absolute;
  margin-top: -30vh;
  transition: 1.5s ease-in-out;
  margin-left: 5%;
  opacity: 1;
  font-size: 28px;
  color: white;
  font-weight: bold;
}

#poster .item img {
	width: 100%;
  height: 100%;
  margin-top: 0vh;
}

#poster .grid {

	max-width: 80vh;
	margin: 0 auto;
    margin-top: 10vh;

}

@media (max-width:550px) {
  #poster {
    height: auto;
    margin-top: 20vh;
  }
  #poster .item {
    width: 100%;
    margin: 0;
  }
  #poster .item img {
    width: 100%;
  }
  #poster .grid-collum {

    width: 100%;
    height: 100%;
    display: inline-block;
  }
}


#grid-template {
  width: 100%;
  height: 80vh;
  margin-top: 0vh;



}
#grid-template .title h2 {
  font-size: 35px;
}
#grid-template .title h3 {
  font-size: 20px;
}

#grid-template .grid {
display: grid;

}

#grid-template .logo {
  grid-area: logo;
  background-image: url(./img-4.png);
  opacity: .7;
}
#grid-template .logo:hover {
  opacity: 1;
  transition: .5s;
}

#grid-template .nav {
  grid-area: nav;
  background-image: url(./img-6.png);
  opacity: .7;
}
#grid-template .nav:hover {
  opacity: 1;
  transition: .2s;
}

#grid-template .content {
  grid-area: content;
  background-image: url(./img-3.png);

  opacity: .7;
}
#grid-template .content:hover {
  opacity: 1;
  transition: .5s;
}

#grid-template .sidenav {
  grid-area: sidenav;
  background-image: url(./img-1.png);
  background-position: center;
  background-size: cover;
  opacity: .7;
}


#grid-template .sidenav:hover {
  opacity: 1;
  transition: .2s;
}

#grid-template .advert {
  grid-area: advert;
  background-image: url(./img-8.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .6;
}
#grid-template .advert:hover {
  opacity: .9;
  transition: .2s;
}

#grid-template .footer {
  grid-area: footer;
  background-image: url(./img-7.png);
  opacity: .7;
}
#grid-template .footer:hover {  
  opacity: 1;
  transition: .2s;
}

#grid-template .grid-template-areas-1 {
grid-template-areas:
  "logo nav nav"
  "sidenav content advert"
  "sidenav footer footer"
  ;
}

#grid-template .grid-template-areas-2 {
grid-template-areas:
  "sidenav logo nav"
  "sidenav content advert"
  "sidenav content footer"
  ;
}

#grid-template .grid-template-areas-3 {
grid-template-areas:
  "logo logo"
  "nav nav"
  "content content"
  "sidenav advert"
  "footer footer"
  ;
}

#grid-template .grid-template-areas-4 {
grid-template-columns: 30% 60% 10%;
grid-template-rows: 50px 150px 50px;
grid-template-areas:
  "logo nav nav"
  "sidenav content advert"
  "sidenav footer footer"
  ;
}

#grid-template .grid-template-areas-5 {
grid-template-areas:
  "logo content nav"
  ". content advert"
  "sidenav footer ."
  ;
}

/* Grid Item */
#grid-template .item {
margin: 5px;  
text-align: center;
font-size: 1.5em;
background-color: rgba(10, 10, 10, 0.788);
cursor: pointer;
}
#grid-template .logo h2 {
  color: rgb(255, 255, 255);
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#grid-template .nav h2 {
  color: rgb(255, 255, 255);
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#grid-template .content h2 {
  color: rgb(255, 255, 255);
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#grid-template .sidenav h2 {
  color: rgb(255, 255, 255);
  margin-top: 30%;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  opacity: 1;
}
#grid-template .advert h2,#grid-template .footer h2  {
  color: rgb(0, 0, 0);
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#grid-template .grid {
max-width: 80%;
height: 50vh;
margin: 0 auto;
margin-top: 10vh;
}

#btn-down {
  width: 100%;
  height: 5vh;
  margin-top: 15vh;
  opacity: 0.8;
}
#btn-down .container{
  width: 5%;
  margin-top: 5vh;  
  height: 100%;
  margin-left: 48%;
  margin-right: 48%;
}
#btn-down .container img{
  width: 50px;
  opacity: .5;
}
#btn-down .container img:hover{
  opacity: .9;
  transition: .2s;
}
@media (max-width: 550px) {
  #btn-down {
    width: 100%;
    height: 5vh;
    margin-top: 15vh;
  }
  #btn-down .container{
    width: 5%;
    height: 100%;
    margin-left: 40%;
    margin-right: 40%;
  }
}


@media (max-width:550px) {
  #grid-template {
    margin-top: 20vh;
  }
  #grid-template .logo h2 {
    font-size: 15px;
  }
  #grid-template .nav h2 {
    font-size: 12px;
  }
  #grid-template .content h2 {
    font-size: 15px;
  }
  #grid-template .sidenav h2 {
    font-size: 15px;
    margin-top: 10vh;
    color: red;
  }
  #grid-template .advert h2,#grid-template .footer h2  {
    font-size: 12px;
  }
}


#poema {
  width: 100%;
  height: 110vh;
  margin-top: 20vh;
  margin-left: 0vh;
  background-color: rgba(0, 0, 0, 0.884);
  color: white;
}
#poema .container {
  height: auto;
  position: absolute;
  margin-top: 10%;
  margin-left:40%;
  width: 30%;
}
#poema h2 {
  font-size: 24px;
  margin-top: 2vh;
  color: white;
  text-align: left;
}

@media (max-width: 550px) {
  #poema {
    margin-top: 20vh;
  }
  #poema .container {
    height: auto;
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    width: 60%;
  }
  #poema h2 {
    font-size: 20px;
    margin-top: 2vh;
    color: white;
  }
}




#data-resource {
  margin-top: 0vh;
}
.bg_video{

	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: 100%; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
}

.btn-primary, .btn-primary:active {
  margin-top: 15vh;
  background-color: white;
  border: .5px solid white;
  width: 75px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.btn-primary:hover {
 background-color: transparent;
}
.btn-primary img:hover {
  background-color: transparent;
 }
 

 #about {
   width: 100%;
   height: 170vh;
   position: absolute;
   margin-top: 10vh;
 }
 #about .container {
  width: 80%;
  height: auto;

  text-align: center;
  margin-left: auto;
}
#about .container h2 {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  font-size: 35px;
}
#about .container h3 {
  color: rgb(36, 33, 33);
  margin-top: 5%;
  font-size: 18px;
  line-height: 50px;
  text-align: justify;
}
#about .container .sublime {
  width: 120px;
  height: 5px;
  margin-left: 30%;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(23, 212, 187);
}

#about .container .forms {
  width: 80%;
  margin-left: 5%;
  margin-top: 22%;
  position: absolute;
}
#about .container .forms .msg {
  height: 10vh;
}
#Mensagem {
  height: 80%;
}
#footer {
  width: 100%;
  height: 5vh;
  background-color: rgb(54, 52, 52);
  position: absolute;
  margin-top: 130%;
}
#about .container .col-12 {
  display: flex;
  height: 55vh;
  margin-top: 5%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 25px -3px rgba(191, 191, 191, 0.877);
}
#about .container .col-12 .col-6 {
  border-radius: 2px;
}
#about .container .col-12 .col-6 .container-md {
  border-radius: 10px;
  width: 60%;
  height: 80%;
  margin-top: -10vh;
}
#about .container .col-12 .col-6 .container-md .redes {
  width: 100%;
  height: 10%;
  margin-top: 10%;
  display: flex;
  
}
#about .container .col-12 .col-6 .container-md .redes .col-2 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#about .container .col-12 .col-6 .container-md .redes .col-2 img {
  margin-left: -15%;
  margin-right: auto;
  cursor: pointer;
}
#about .container .col-12 .col-6 .container-md .redes .col-2 .img-lattes {
  margin-top: -20%;
  margin-left: -50%;
  cursor: pointer;
}
#about .container .col-12 .col-6 .container-md h2 {
  margin-top: 50%;
  font-weight: bold;
  font-size: 24px;
}
#about .container .col-12 .col-6 .container-md h3 {
  margin-top: 15%;
}



#page_text {

  width: 100%;

  position: absolute;
  margin-top: 0vh;
  background-image: url('./background-image.png');
  background-position: center;
  background-position: fixed;

}
#page_text .container {
  width: 80%;
  height: auto;
  margin-top: 20vh;
  margin-bottom: 10vh;
}
#page_text .container .page_title {
  display: inline-block;
  width: 100%;
}
#page_text .container .page_title .col-lm {

  width: 75%;
  margin-left: 13vh;
  margin-right: auto;
  margin-top: 1vh;
  border-bottom: 2.5px solid orangered;
}
#page_text .container .page_title .col-4, #page_text .container .page_title .col-2 {

  width: 80%;
  margin-left: 12vh;
  margin-right: auto;
  text-align: left;
  margin-top: 1vh;
}
#page_text .container .page_title h2 {
  font-size: 25px;
  padding-bottom: 1vh;
  color: white;

}
#page_text .container .page_title h3 {
  font-size: 18px;
  color: white;
}
#page_text .container .text {
  margin-top: 10vh;
}
#page_text .container .text h3 {
  font-size: 20px;
  line-height: 40px;
  margin-top: 4vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  color: white;
}

#page_text .container .btn-danger {
  margin-left: 14vh;
  margin-top: 5vh;
  background-color: transparent;

}
#page_text .container .btn-danger a {
  color: rgb(255, 255, 255);
  text-decoration: none;

}