@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
--------------------------------------------------------------*/
body {
  font-family: 'Gotham', sans-serif;
  color: white;
  background-color: red;
  height: 500vh;


}

a {
  text-decoration: none;
  color: #7cc576;
}

a:hover {
  color: #9ed49a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #7cc576;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #97d193;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: transparent;
  box-shadow: 0 4px 7px -3px rgba(191, 191, 191, 0.24);
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
@media (max-width: 992px) {
  #header {
    height: 70px;
  }
}

.scrolled-offset {
  margin-top: 90px;
}
@media (max-width: 992px) {
  .scrolled-offset {
    margin-top: 90px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 10px;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #151515;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #080808;
  font-weight: bold;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #7cc576;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #151515;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #151515;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #7cc576;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #7cc576;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.884);
  position: relative;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero .hero-logo {
  margin-bottom: 30px;
}
#hero h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
  margin-top: auto;
}
#hero h2 {
  color: #aeaeae;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
#hero h3 {
  color: #aeaeae;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40vh;
  text-transform: uppercase;
}
#hero h4 {
  color: #aeaeae;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Gotham', sans-serif;
}
#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  margin: 10px;
  color: #fff;
  border: 1px solid #7531b4cc;
}
#hero .btn-get-started:hover {
  transition: 0.5s ease-in-out;
  background: rgba(15, 132, 185, 0.726);
  color: #7cc576;
  border: none;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    line-height: 22px;
  }
}
@media (max-width: 500px) {
  #hero h1 {
    font-size: 25px;
    line-height: 36px;
    margin-top: 10vh;
  }
  #hero h2 {
    line-height: 22px;
  }
  #hero h3 {
    font-size: 10px;
    margin-left: 1vh;
    margin-right: 1vh;
    text-align: justify;
    margin-top: 5vh;
  }
  #hero h4 {
    font-size: 10px;
    margin-left: 1vh;
    margin-right: 1vh;
    text-align: justify;
  }
}

.carrousel {

  width: 100%;
  height: 100vh;
  background-color: red;


}
.carrousel .owl-carousel {

  width: 100%;
  height: 100%;


}
.carrousel .owl-carousel .item {

  width: 90%;
  height: 80vh;
  margin: auto;
  border: none;

  display: flex;
  
}

.carrousel .owl-carousel .item .box {

  width: 50%;
  height: 100%;

  display: inline;
  font-family: 'Gotham', sans-serif;
  background-color: red;
}

.carrousel .owl-carousel .item .box h3 {

  margin-top: 15vh;
  margin-left: 10vh;
  font-size: 23px;

}
.carrousel .owl-carousel .item .box h2 {

  margin-top: 1vh;
  margin-left: 10vh;
  font-size: 30px;
}
.carrousel .owl-carousel .item .box h4 {

  width: 80%;
  text-align: justify;
  margin-top: 5vh;
  margin-left: 10vh;
  font-size: 20px;
  line-height: 15px;
  font-family: 'Gotham', sans-serif;
  color: red;

}
.carrousel .owl-carousel .item .box img {

  width: 70%;
  height: 80%;
  margin: auto;
  margin-top: 10vh;

}
.carrousel .owl-carousel .item .box iframe {

  width: 80%;
  height: 60%;
  margin: auto;
  margin-top: 15vh;
  margin-left: 10vh;

}
@media (max-width: 600px) {
  .carrousel {

    width: 100%;
    height: auto;
  
  
  }
  .carrousel .owl-carousel .item {

    width: 100%;
    height: 100vh;
    margin-top: 10vh;
    display: inline;
  }
  .carrousel .owl-carousel .item .box {

    width: 100%;
    height: auto;
  
    display: inline;
    font-family: 'Gotham', sans-serif;
  }

  .carrousel .owl-carousel .item .box h3 {

    margin-top: 15vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 17px;
  
  }
  .carrousel .owl-carousel .item .box h2 {
  
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 21px;
  }
  .carrousel .owl-carousel .item .box h4 {
  
    width: 90%;
    margin-left: 2vh;
    margin-right: 2vh;
    font-size: 15px;

  }

  .carrousel .owl-carousel .item .box iframe {

    width: 90%;
    height: 90%;
    margin-top: 15vh;
    margin-left: 2vh;
  
  }
}

.carrousel .owl-carousel .item:hover {

  transition: .4s ease;
  border-radius: 20px ;
  
}
.carrousel .owl-carousel .item img {
  
  width: 100%;
  height: 100vh;
  border-radius: 2px;
  cursor: pointer;
}
.carrousel .owl-carousel .item:hover img {
  transition: .4s ease;
  border-radius: 20px;
}


.col-md-5 iframe {

  width: 100%;
  height: 100%;
}

#col-md-7 h3 {
  font-size: 22px;
  width: 100%;
  margin-left: 10vh;
}
#col-md-7 p {
  width: 80%;
  margin-left: 0vh;
}
#col-md-7 h4 {
  width: 80%;
  margin-left: 0vh;
  font-size: 18px;
  margin-top: 5vh;
  text-align: justify;
  font-family: 'Gotham', sans-serif;
  font-weight: 100;
}


@media (max-width: 1400px) {

  .col-md-5 {
    width: 100%;
    height: 30vh;
  }
  .col-md-5 iframe {
    width: 100%;
  }

  #col-md-7 h3 {

    width: 100%;
    margin-left: -5vh;
  }

  #col-md-7 p {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #col-md-7 h4 {
    width: 100%;
    margin-left: 10%;

  }

  
}
@media (max-width: 500px) {
  


  .col-md-5 iframe {

    width: 95%;
    height: 215px;
    margin-left: 12%;
    margin-right: 12%;
  }

  #col-md-7 h3 {

    width: 100%;
    margin-left: -5vh;
  }

  #col-md-7 p {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #col-md-7 h4 {
    width: 100%;
    margin-left: 10%;

  }
}

.guide {
  width: 100%;
  height: auto;

}
.guide .title {
  width: 100%;
  height: 15vh;

  text-align: center;
}.guide .title h3 {
  font-size: 20px;
  margin-top: 3vh;
}
.guide .col-12 {
  width: 80%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;


  height: 30vh;
  display: flex;
}
.guide .col-12 .col-6 {
  height: 30vh;
  border-radius: 5px;
  
}
.guide .col-12 .col-6 h2 {
  width: 90%;
  text-align: left;
  font-size: 25px;
  margin-top: 5vh;
  margin-left: 3vh;
  font-family: 'Gotham', sans-serif;
}
.guide .col-12 .col-6 h3 {
  width: 90%;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 17px;
  font-family: 'Nunito', sans-serif;

}

@media (max-width:550px) {
  .guide .col-12 {
    margin-top: 20vh;
    display: inline;
  }
  .guide .col-12 .col-6{
    width: 90%;
    height: 50%;
    margin-top:10vh;
  }
  .guide .col-12 .col-6 iframe{
    margin-left: 5%;
  }
  .guide .col-12 .col-6 h2 {
    width: 95%;
    font-size: 20px;
    margin-left: 7%;

  }
  .guide .col-12 .col-6 h3 {
    margin-left: 7%;
    font-size: 16px;
  }

  #inverter {

    margin-top: 50vh;
  }
  #inv {
    margin-top: -60vh;
    margin-bottom: 50vh;
  }

}


#data-resource {
  margin-top: 0vh;
}
.bg_video{

	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: 100%; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
}

.btn {
  margin-left: 35%;
  margin-top: 5vh;
  background-color: transparent;

}




#carouselExampleIndicators {

  height: 70vh;
  margin-top: 7vh;
}
#carouselExampleIndicators .carousel-inner {
  height: 100%;
}
#carouselExampleIndicators .carousel-inner .carousel-item {
  height: 100%;
}
#carouselExampleIndicators .carousel-inner .carousel-item .d-block {
  height: 100%;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 200px;
  margin-top: 0vh;
}
#carouselExampleIndicators .carousel-inner .carousel-item .d-block .box{

  width: 80%;
  height: 15%;
  display: inline-block;
}
#carouselExampleIndicators .carousel-inner .carousel-item .d-block .box h2{

  width: 30%;
  font-size: 18px;
  background-color: yellow;
  margin-left: 0vh;

  border-radius: 5px;
  text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item .d-block .box h3{

  font-size: 15px;
  font-family: 'Gotham', sans-serif;
  font-weight: 100;
  text-align: justify;
}

#carouselExampleIndicators .carousel-inner .carousel-item .d-block .box-right{

  width: 80%;
  height: 15%;
  display: inline-block;

}
#carouselExampleIndicators .carousel-inner .carousel-item .d-block .box-right h2{

  width: 30%;
  font-size: 18px;
  background-color: rgba(18, 100, 155, 0.904);
  color: white;
  margin-left: auto;
  margin-top: 5vh;
  border-radius: 5px;
  text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item .d-block .box-right h3{

  font-size: 15px;
  font-family: 'Gotham', sans-serif;
  font-weight: 100;
  text-align: justify;
}




@keyframes color-box {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes size-box {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

#poema {
  width: 100%;
  height: 100vh;
  margin-top: 30vh;
  background-color: rgba(0, 0, 0, 0.884);
}
#poema .container {
  position: absolute;
  width: 50%;
  height: 80vh;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;

}
.titulo-principal{
  max-width: 35%;
  text-align: justify;
  margin: 60px auto;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
  font-size: 20px;
  letter-spacing: 10px;
  margin-top: 5vh;
}

@media (max-width: 600px) {
  #poema {
    width: 100%;
    height: 100vh;
  }
  #poema .container {
    width: 90%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
  
  }
  .titulo-principal{
    max-width: 100%;
    width: 100%;
    margin-left: 0vh;
    font-size: 19px;

  }
}
@media (max-width: 400px) {
  #poema {
    width: 100%;
    height: 100vh;
  }
  #poema .container {
    width: 90%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
  
  }
  .titulo-principal{
    max-width: 100%;
    width: 100%;
    margin-left: 0vh;
    font-size: 19px;

  }
}
@media (max-width: 390px) {
  #poema {
    width: 100%;
    height: 100vh;
  }
  #poema .container {
    width: 90%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
  
  }
  .titulo-principal{
    max-width: 100%;
    width: 100%;
    margin-left: 0vh;
    font-size: 19px;

  }
}
@media (max-width: 375px) {
  #poema {
    height: 120vh;
  }
}
@media (max-width: 340px) {
  #poema {
    height: 110vh;
  }
}

#poster {
  width: 100%;
  height: 50vh;
  margin-top: 10vh;
  background-image: url(./background.png);
  display: inline-block;
}
#poster .container {
  margin-top: 15vh;
  margin-left: 20%;
  margin-right: 25%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.767);
  border-radius: 5px;
  position: absolute;
}
#poster .container-md {
  margin-top: 40vh;
  margin-left: 40%;
  width: 20%;
  background-color: rgba(122, 236, 69, 0.808);
  position: absolute;
}
#poster h2 {
    width: 100%;
    border-radius: 7px;
    color: white;
    font-family: 'Gotham', sans-serif;
    font-weight: 200;
    padding: 2%;
}
@media (max-width: 950px) {
  #poster .container-md {
    width: auto;
    margin-top: 40vh;
    margin-left: 50%;

  }
}

#grid-template {
    width: 100%;
    height: 90vh;

}
#grid-template .section-title {
  margin-top: 20vh;
  text-align: center;
}


#grid-template .grid {
	display: grid;
}

#grid-template .logo {
	grid-area: logo;
}

#grid-template .nav {
	grid-area: nav;
}

#grid-template .content {
	grid-area: content;
}

#grid-template .sidenav {
	grid-area: sidenav;
}

#grid-template .advert {
	grid-area: advert;
}

#grid-template .footer {
	grid-area: footer;
}

#grid-template .grid-template-areas-1 {
	grid-template-areas:
		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer"
		;
}

#grid-template .grid-template-areas-2 {
	grid-template-areas:
		"sidenav logo nav"
		"sidenav content advert"
		"sidenav content footer"
		;
}

#grid-template .grid-template-areas-3 {
	grid-template-areas:
		"logo logo"
		"nav nav"
		"content content"
		"sidenav advert"
		"footer footer"
		;
}

#grid-template .grid-template-areas-4 {
	grid-template-columns: 30% 60% 10%;
	grid-template-rows: 50px 150px 50px;
	grid-template-areas:
		"logo nav nav"
		"sidenav content advert"
		"sidenav footer footer"
		;
}

#grid-template .grid-template-areas-5 {
	grid-template-areas:
		"logo content nav"
		". content advert"
		"sidenav footer ."
		;
}

/* Grid Item */
#grid-template .item {
	margin: 5px;  
	text-align: center;
	font-size: 1.5em;
  background-color: rgb(238, 22, 58);
}


#grid-template .grid {
	max-width: 80%;
  height: 50vh;
	margin: 0 auto;
  margin-top: 10vh;
}

#grid-template h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}






#about-company {
  width: 100%;
  height: auto;
  margin-top: 25vh;
  padding-bottom: 10px;
  position: relative;

}
#about-company .container {
  width: 80%;
  height: auto;
  margin-top: 15vh;


  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  margin-bottom: 2vh;

}
#about-company .container .container-md {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}
#about-company .container .container-md .col-12 {
 color: rgb(0, 0, 0);
 margin-top: 5vh;

}

#about-company .container .container-md .col-12 h2 {
  font-size: 2vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
#about-company .container .container-md .col-12 h4 {
  width: 100%;
  text-align: center;
}

#about-company .container .row {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#about-company .container .row .card {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid orangered;
  margin-top: .5vh;
  text-align: center;
  color: black;
}
#about-company .container .row .card:hover {
  background-color: rgba(3, 3, 3, 0.815);
  transition: .4s ease-in-out;
}
#about-company .container .row .card:hover a {
  color: white;
}
#about-company .container .row .card .card-body p {
  color: rgb(0, 0, 0);
}
#about-company .container .row .card:hover .card-body p {
  color: rgb(255, 255, 255);
}
#about-company .container .row .card h6 {
  color: black;
}
#about-company .container .row .card a {
  color: black;
}
#about-company .container .row .card .card-header {
  color: rgba(165, 10, 10, 0.795);
  background-color: transparent;
}
#about-company .container .row .card p {
   font-size: 16px;
   text-align: justify;
   color: rgb(0, 0, 0);
}

#about-company .col-12 .grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

#about-company .grid-template-rows-1 {
grid-template-rows: 50% 50%;
}


/* Grid Item */
#about-company .item {
margin: 0px;
  background-color: transparent;
text-align: center;
font-size: 1.5em;
}
#about-company .item img{
width: 90%;
}


#about-company .grid {

  width: 80%;
margin: 0 auto;
  margin-top: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}


@media (max-width: 1600px) {
  
  #about-company .container .container-md .col-12 h2 {
      font-size: 2.5vw;

  }
  #about-company .container .container-md .col-12 h4 {
      font-size: 1.5vw;
      text-align: justify;
  }
}

@media (max-width: 1000px) {
  #about-company .container .container-md .col-12 h2 {
      font-size: 2.5vw;

  }
  #about-company .container .container-md .col-12 h4 {
      font-size: 1.8vw;
      text-align: justify;
  }
}

@media (max-width: 800px) {

  #about-company .item {
      width: 100%;
  }
  #about-company .item img{
      width: 100%;
  }
}

@media (max-width: 550px) {
  #about-company .item {
      width: 120%;
  }
  #about-company .item img{
      width: 100%;
  }
  #about-company .container .container-md .col-12 h2 {
      font-size: 3.5vw;
      width: 100%;

  }
  #about-company .container .container-md .col-12 h4 {
      font-size: 3vw;
      text-align: justify;
  }
}

