<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">


    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


      <!-- Vendor CSS Files -->
    <link href="{% static 'bootstrap/aos.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    
    <title>Home</title>
  </head>
  <body>


  <!-- Hero Section -->
    <section id="hero">
        <div class="hero-container">
            <a href="index.html" class="hero-logo" data-aos="zoom-in"></a>
            <h1 data-aos="zoom-in">Repositório Online</h1>
            <h2 data-aos="fade-up">Guia Virtual Sobre Atendimento a Mulheres Vítimas de Violência</h2>
            <a data-aos="fade-up" data-aos-delay="200" href="#theme-carrousel" class="btn-get-started scrollto">Introdução</a>
            <h3 data-aos="fade-up">VOCÊ, profissional das políticas públicas, que lida com o PÚBLICO em algum momento teve ou terá contato com situações 
              de VIOLÊNCIA CONTRA A MULHER no exercício da sua profissão...
              Seja você psicólogo, assistente social, educador, escrivão, entrevistador social, médico, agente
              comunitário de saúde, serviços gerais... Esteja você no CRAS, CREAS, PSF, DDM, escola, CAPS, Judiciário, ou qualquer outro serviço público.
              Por isso, este guia é para você; você e seus colegas de trabalho.</h3>
              
              <h4 data-aos="fade-up" >É de NOSSA responsabilidade acolher essa demanda!</h4>
        </div>
    </section>
  <!-- End Hero -->

  <!-- Header  -->
      <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

          <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
          </div>

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#carrousel">Introduçao</a></li>
              <li><a class="nav-link scrollto" href="#features">Guia</a></li>
              <li><a class="nav-link scrollto" href="#text-area">Mapa da Violência</a></li>
              <li><a class="nav-link scrollto" href="#grid-template">+ Conteúdos</a></li>
              <li><a class="nav-link scrollto" href="#poema">Manifesto</a></li>
              <li><a class="nav-link scrollto" href="#poema">Sobre</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>

        </div>
      </header>
  <!-- End Header -->

  <!-- Carrousel -->
      <div class="carrousel" id="carrousel">
        <div class="owl-carousel owl-theme" id="theme-carrousel">


            <div class="item">
              <div class="box">
                <h3>Política, Planejamento e Gestão</h3>
                <h2>Estudos de Violência Contra a Mulher</h2>
                <h4>Este guia virtual é um produto técnico produzido no mestrado profissional em Saúde Coletiva da
                  UNICAMP, numa pesquisa orientada pela Profa Dra Rosana Teresa Onocko-Campos e compõe uma
                  pesquisa bem maior chamada Implementação de Ambulatório a Pessoas Expostas a Situações de
                  Violência, com vários mestrandos, doutorandos, residentes,
                   
                </h4>
                <h4>As narrativas produzidas na pesquisa trouxeram duas dimensões importantes: técnica e afetiva. Por isso,
                  a maior colaboração que consigo pensar em trazer é juntar essas duas dimensões – técnica e afetiva –
                  em um material de fácil veiculação, utilizando a parte mais libertadora e ramificada da tecnologia,
                  tecnologia essa que na pandemia de Covid-19 trouxe significados e afetações diversos.
                </h4>
                <button type="button" class="btn btn-info">Acessar Pesquisa Completa</button>
              </div>

              <div class="box">
                <img src="{% static 'img/woman-3.jpg' %}" alt="">
              </div>
            </div>

            <div class="item">
              <div class="box">
                <h3>Lorem ipsum dolor sit amet</h3>
                <h2>Lorem ipsum dolor si amet consectetur</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ea provident id ipsam tempora alias sapiente similique optio nam!
                    Laboriosam mollitia quo nulla aspernatur rerum minus quis voluptatum sunt saepe fuga
                    <p></p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ea provident id ipsam tempora alias sapiente similique optio nam!
                    Laboriosam mollitia quo nulla aspernatur rerum minus quis voluptatum sunt saepe fuga
                </h4>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ea provident id ipsam tempora alias sapiente similique optio nam!
                  Laboriosam mollitia quo nulla aspernatur rerum minus quis voluptatum sunt saepe fuga.
                </h4>
              </div>

              <div class="box">
                <img src="{% static 'img/woman-2.jpg' %}" alt="">
              </div>
            </div>
            

            <div class="item">
              <div class="box">
                <iframe src="https://www.youtube.com/embed/lFJPAq960sg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="box">
                <h3>Lorem ipsum dolor sit amet</h3>
                <h2>Lorem ipsum dolor si amet consectetur</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ea provident id ipsam tempora alias sapiente similique optio nam!
                    Laboriosam mollitia quo nulla aspernatur rerum minus quis voluptatum sunt saepe fuga
                    <p></p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ea provident id ipsam tempora alias sapiente similique optio nam!
                    Laboriosam mollitia quo nulla aspernatur rerum minus quis voluptatum sunt saepe fuga
                </h4>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ea provident id ipsam tempora alias sapiente similique optio nam!
                  Laboriosam mollitia quo nulla aspernatur rerum minus quis voluptatum sunt saepe fuga.
                </h4>
              </div>
            </div>

          </div>
      </div>
  <!-- End Carrousel -->
  
   <!-- Features Section -->
      <section id="features" class="features" data-aos="fade-up">
        <div class="container">

          <div class="section-title">
            <h2>Guia</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. .</p>
          </div>

          <div class="row content">
            <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Ew-VruAckjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
              <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit accusamus nesciunt unde, repudiandae asperiores est aliquid obcaecati tenetur repellendus tempore ut accusantium nihil, quod perspiciatis eligendi non beatae, eveniet ex?</h4>
            </div>
          </div>

          <div class="row content">
           
            <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
              <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit accusamus nesciunt unde, repudiandae asperiores est aliquid obcaecati tenetur repellendus tempore ut accusantium nihil, quod perspiciatis eligendi non beatae, eveniet ex?</h4>
            </div>
             <div class="col-md-5" data-aos="fade-left" data-aos-delay="100">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Ew-VruAckjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>

          <div class="row content">
            <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Ew-VruAckjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
              <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit accusamus nesciunt unde, repudiandae asperiores est aliquid obcaecati tenetur repellendus tempore ut accusantium nihil, quod perspiciatis eligendi non beatae, eveniet ex?</h4>
            </div>
          </div>
          <button class="btn"> <a href="#text-area"><img src="{% static 'img/down.png' %}" alt="" width="60"></a></button>
        </div>
      </section>
  <!-- End Features Section -->

      <section id="text-area">
        <div class="container">

          <div class="section-title">
            <h2>Mapa da Violência</h2>
            <p>Existem várias classificações para tipos de violência contra a mulher. É didático pensar nessas
              classificações porque assim fica mais fácil desnaturalizar certas situações, fica mais fácil perceber o que
              está acontecendo. De acordo com a Política Nacional de Enfrentamento à Violência Contra as Mulheres <a href="https://www12.senado.leg.br/institucional/omv/entenda-a-violencia/pdfs/politica-nacional-de- enfrentamento-a-violencia-contra-as-mulheres">[link]</a>
              podemos nomear essas:</p>
          </div>

         

          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="10000">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-block">
                  <div class="box" data-aos="fade-down" data-aos-delay="50">
                    <h2>Violência sexual</h2>
                    <h3>“obrigar ou coagir a mulher a ter ou participar de contato sexual, seja físico,
                      verbal ou mesmo forçar a assistir, com uso de força, poder, intimidação, manipulação, chantagem,
                      
                      suborno, ameaça, ou qualquer meio que não seja de livre e espontânea vontade da mulher,
                      incluindo fazê-la ter medo do que pode acontecer se não colaborar. Pode ser tanto o intercurso
                      quanto toques e carícias não por ela desejados, exibicionismo, ou qualquer ato sexualizado que
                      ela não deseje ou não esteja em condições de saber se deseja";</h3>
                  </div>
                  <div class="box" data-aos="fade-down" data-aos-delay="150">
                    <h2>Violência sexual</h2>
                    <h3>“obrigar ou coagir a mulher a ter ou participar de contato sexual, seja físico,
                      verbal ou mesmo forçar a assistir, com uso de força, poder, intimidação, manipulação, chantagem,
                      
                      suborno, ameaça, ou qualquer meio que não seja de livre e espontânea vontade da mulher,
                      incluindo fazê-la ter medo do que pode acontecer se não colaborar. Pode ser tanto o intercurso
                      quanto toques e carícias não por ela desejados, exibicionismo, ou qualquer ato sexualizado que
                      ela não deseje ou não esteja em condições de saber se deseja";</h3>
                  </div>
                  <div class="box" data-aos="fade-down" data-aos-delay="150">
                    <h2>Violência psicológica</h2>
                    <h3>Prejudicar a autoestima da mulher, causar dano emocional, fazer com que
                      ela se sinta sem valor ou confusa ou duvidando de sua própria sanidade, controlar o
                      comportamento, decisões e vida social da mulher através de ameaça, humilhação, isolamento,
                      constrangimento, perseguição, hipervigilância, ridicularização, chantagem, limitação do direito de ir
                      e vir ou qualquer outro meio que prejudique a saúde psicológica e autodeterminação da mulher;;</h3>
                  </div>
                  <div class="box" data-aos="fade-down" data-aos-delay="150">
                    <h2>Violência física</h2>
                    <h3>qualquer ação que machuque ou prejudique a integridade do corpo físico da
                      mulher Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dicta, adipisci aspernatur asperiores odio, numquam, quaerat quo atque magni facere enim sint fuga animi nulla voluptate necessitatibus laborum aperiam nam.;</h3>               
                  </div>
                </div>
              </div>

              <div class="carousel-item ">
                <div class="d-block">
                  <div class="box-right" >
                    <h2>Violência psicológica</h2>
                    <h3>Prejudicar a autoestima da mulher, causar dano emocional, fazer com que
                      ela se sinta sem valor ou confusa ou duvidando de sua própria sanidade, controlar o
                      comportamento, decisões e vida social da mulher através de ameaça, humilhação, isolamento,
                      constrangimento, perseguição, hipervigilância, ridicularização, chantagem, limitação do direito de ir
                      e vir ou qualquer outro meio que prejudique a saúde psicológica e autodeterminação da mulher;;</h3>
                  </div>
                  <div class="box-right">
                    <h2>Violência física</h2>
                    <h3>qualquer ação que machuque ou prejudique a integridade do corpo físico da
                      mulher Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dicta, adipisci aspernatur asperiores odio, numquam, quaerat quo atque magni facere enim sint
                       fuga animi nulla voluptate necessitatibus laborum aperiam nam.;</h3>               
                  </div>
                  <div class="box-right">
                    <h2>Violência institucional</h2>
                    <h3>ação e/ou omissão de instituições que prestam serviços públicos, criando
                      situações de julgamento moral, desrespeito à sua autonomia, má qualidade dos serviços a ela
                      prestados, dificuldade de acesso a serviços seja por questão de transporte ou outras barreiras
                      arquitetônicas e de mobilidade, seja por mau atendimento dos profissionais ou outras barreiras
                      interpessoais, ou mesmo abuso de poder pela relação desigual de gênero;</h3>
                  </div>
                  <div class="box-right">
                    <h2>Tráfico de mulheres</h2>
              <h3>movimentar pessoas em território nacional ou internacional por meio de
                engano ou coerção para fins de exploração e econômicos (exploração sexual, servidão, serviços
                forçados incluindo domésticos, casamento servil, remoção de órgãos, escravatura ou serviços
                análogos à escravidão), mesmo que a pessoa não se oponha por viver uma situação de
                vulnerabilidade em que faria qualquer coisa para superá-la (situação de vulnerabilidade, essa, que
                pode ser uma violência institucional!);</h3>
                  </div>
                </div>
              </div>

              <div class="carousel-item ">
                <div class="d-block">
                  <div class="box">
                    <h2>Violência institucional</h2>
                    <h3>ação e/ou omissão de instituições que prestam serviços públicos, criando
                      situações de julgamento moral, desrespeito à sua autonomia, má qualidade dos serviços a ela
                      prestados, dificuldade de acesso a serviços seja por questão de transporte ou outras barreiras
                      arquitetônicas e de mobilidade, seja por mau atendimento dos profissionais ou outras barreiras
                      interpessoais, ou mesmo abuso de poder pela relação desigual de gênero;</h3>
                  </div>
                  <div class="box">
                    <h2>Exploração sexual</h2>
                    <h3>tirar proveito da sexualidade de mulheres com base em relação
                      desigual de poder, seja para fins comerciais ou não; induzir a mulher a satisfazer sexualmente
                      outra ou outras pessoas (prostituição, pornografia, “turismo” sexual ou atividades sem transação
                      financeira), induzir ou atrair alguém para qualquer forma de exploração sexual ou mesmo
                      dificultar/impedir que alguém a abandone;</h3>
                  </div>
                  <div class="box">
                    <h2>Assédio sexual</h2>
                    <h3>abordar a pessoa com intenção sexual, insinuação ou insistência inoportuna de
                      alguém em posição privilegiada sem que ela deseje e que nela gere constrangimento, envolvendo
                      relação desigual hierárquica no emprego, cargo ou função;</h3>
                  </div>
                  <div class="box">
                    <h2>Assédio moral</h2>
                    <h3>ferir a dignidade, a integridade física ou psíquica de uma pessoa ameaçando ou
                      dificultando seu emprego ou degradando o clima do trabalho, seja por meio de gestos, escritos,
                      palavras, atitudes, silenciamentos ou qualquer outro comportamento;</h3>
                  </div>
                </div>
              </div>

            
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <button class="btn"> <a href="#poster"><img src="{% static 'img/down.png' %}" alt="" width="60"></a></button>



        </div>

      </section>


      <section id="poster">
        <div class="container">
          <h2>"a ideia de que somos</h2>  
          <h2>tão capazes de amar</h2> 
          <h2>mas escolhemos</h2> 
           <h2>ser tóxicos"</h2>
        </div>
        <div class="container-md">
          <h3>Rupi Kaur</h3>
        </div>
         
      </section>
      
      <section id="grid-template">
        <div class="section-title">
          <h2>Conteúdos Sugeridos</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. .</p>
        </div>
          <div>

            <section class="grid grid-template-areas-2">
              <div class="item logo"> </div>
              <div class="item nav"></div>
              <div class="item content"></div>
              <div class="item sidenav"></div>
              <div class="item advert"></div>
              <div class="item footer"></div>
            </section>
            </div>
  
      </section>

      <section id="poema">
        <div class="container"  data-aos="fade-up">
          <h1 class="titulo-principal">“A roupa era curta
            Ela merecia.
            O batom vermelho,
            Porte de vadia.
            Provoca o decote.
            Fere fundo o corte.
            Morte lenta ao ventre forte.
            Eu às vezes mudo o meu caminho,
            quando vejo que um homem vem em minha direção.
            Não sei se vem de rosa ou espinho,
            se é um tapa ou é carinho,
            o bendito ou agressão”
            (Amanda Pacífico / Cacau de Sá)</h1>
         
        </div>
        <script>
          function typeWrite(elemento){
            const textoArray = elemento.innerHTML.split('');
            elemento.innerHTML = ' ';
            textoArray.forEach(function(letra, i){   
              
            setTimeout(function(){
                elemento.innerHTML += letra;
            }, 75 * i)

          });
            }
            const titulo = document.querySelector('.titulo-principal');
            typeWrite(titulo);
                    </script>
                  </section>



  <!-- Video Final -->
  <section id="data-resource">

    <video controls poster="{% static 'img/woman-5.avif' %}" class="bg_video">
      <source src="{% static 'img/woman-1.mp4' %}" type="video/webm">
    </video>
  </section>
  <!-- End Video Final -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/aos.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/glightbox.min.js' %}"></script>
    <script src="{% static 'bootstrap/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'bootstrap/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/carrousel.js' %}"></script>
    <script src="{% static 'js/carrousel-2.js' %}"></script>




  </body>
</html>