<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">


    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


      <!-- Vendor CSS Files -->
    <link href="{% static 'bootstrap/aos.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    
    <title>Home</title>
  </head>
  <body>


  <!-- Hero Section -->
    <section id="hero">
        <div class="hero-container">
            <a href="index.html" class="hero-logo" data-aos="zoom-in"></a>
            <h1 data-aos="zoom-in">Repositório Online</h1>
            <h2 data-aos="fade-up">Guia Virtual Sobre Atendimento a Mulheres Vítimas de Violência</h2>
            <a data-aos="fade-up" data-aos-delay="200" href="#theme-carrousel" class="btn-get-started scrollto">Introdução</a>
            <h3 data-aos="fade-up">VOCÊ, profissional das políticas públicas, que lida com o PÚBLICO em algum momento teve ou terá contato com situações 
              de VIOLÊNCIA CONTRA A MULHER no exercício da sua profissão...
              Seja você psicólogo, assistente social, educador, escrivão, entrevistador social, médico, agente
              comunitário de saúde, serviços gerais... Esteja você no CRAS, CREAS, PSF, DDM, escola, CAPS, Judiciário, ou qualquer outro serviço público.
              Por isso, este guia é para você; você e seus colegas de trabalho.</h3>
              
              <h4 data-aos="fade-up" >É de NOSSA responsabilidade acolher essa demanda!</h4>
        </div>
    </section>
  <!-- End Hero -->

  <!-- Header  -->
      <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

          <div class="logo">
            <a href="index.html"><img src="#" alt="" class="img-fluid"></a>
          </div>

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#carrousel">Introduçao</a></li>
              <li><a class="nav-link scrollto" href="#guia">Guia</a></li>
              <li><a class="nav-link scrollto" href="#text-area">Mapa da Violência</a></li>
              <li><a class="nav-link scrollto" href="#grid-template">+ Conteúdos</a></li>
              <li><a class="nav-link scrollto" href="#poema">Manifesto</a></li>
              <li><a class="nav-link scrollto" href="#poema">Sobre</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>

        </div>
      </header>
  <!-- End Header -->

  <!-- Carrousel -->
      <div class="carrousel" id="carrousel">
        <div class="owl-carousel owl-theme" id="theme-carrousel">

          {% for apresentacao in apresentacao_pesquisa %}
            <div class="item">
              <div class="box">
                <h3>{{apresentacao.primeiro_texto}}</h3>
                <h2>{{apresentacao.segundo_texto}}</h2>
                <h4>{{apresentacao.terceito_texto}}</h4>
                <h4>{{apresentacao.quarto_texto}}</h4>
                <button type="button" class="btn btn-info">Acessar Pesquisa Completa</button>
              </div>

              <div class="box">
                <img src="{% static 'img/woman-3.jpg' %}" alt="">
              </div>
            </div>
            {% endfor %}


            {% for slides in slides_pesquisa %}
            <div class="item">
              <div class="box">
                <h3>{{slides.primeiro_texto}}</h3>
                <h2>{{slides.segundo_texto}}</h2>
                <h4>{{slides.terceito_texto}}</h4>
                <h4>{{slides.quarto_texto}}</h4>
                <h4>{{slides.quinto_texto}}</h4>
              </div>

              <div class="box">
                <img src="{% static 'img/woman-2.jpg' %}" alt="">
              </div>
            </div>
            {% endfor %}
            
          </div>
      </div>
  <!-- End Carrousel -->
  
   <!-- Features Section -->
    <div class="guide" id="guia">
      <div class="title">
        <h2>Guia Virtual</h2>
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias fugit tempora officiis quisquam autem error minus totam est, </h3>
      </div>

      <div class="col-12" data-aos="fade-left" data-aos-delay="100">
        <div class="col-6">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ew-VruAckjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6">
          <h2>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h2>
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ipsa tempora earum, explicabo nulla illum consequatur, quaerat sit non, facere quidem blanditiis nihil sed at autem. Dolor illo praesentium vitae.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ipsa tempora earum, explicabo nulla illum consequatur, quaerat sit non, facere quidem blanditiis nihil sed at autem. Dolor illo praesentium vitae.</h3>
        </div>
      </div>

      <div class="col-12" data-aos="fade-right" data-aos-delay="100">
        <div class="col-6" id="inverter">
          <h2>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h2>
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ipsa tempora earum, explicabo nulla illum consequatur, quaerat sit non, facere quidem blanditiis nihil sed at autem. Dolor illo praesentium vitae.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ipsa tempora earum, explicabo nulla illum consequatur, quaerat sit non, facere quidem blanditiis nihil sed at autem. Dolor illo praesentium vitae.</h3>
        </div>
        <div class="col-6" id="inv">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ew-VruAckjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-12" id="point" data-aos="fade-left" data-aos-delay="100">
        <div class="col-6">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ew-VruAckjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6">
          <h2>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h2>
          <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ipsa tempora earum, explicabo nulla illum consequatur, quaerat sit non, facere quidem blanditiis nihil sed at autem. Dolor illo praesentium vitae.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ipsa tempora earum, explicabo nulla illum consequatur, quaerat sit non, facere quidem blanditiis nihil sed at autem. Dolor illo praesentium vitae.</h3>
        </div>
      </div>
    </div>
  <!-- End Features Section -->

      <section id="text-area">
        <div class="container">

          <div class="section-title">
            <h2>Mapa da Violência</h2>
            <p>Existem várias classificações para tipos de violência contra a mulher. É didático pensar nessas
              classificações porque assim fica mais fácil desnaturalizar certas situações, fica mais fácil perceber o que
              está acontecendo. De acordo com a Política Nacional de Enfrentamento à Violência Contra as Mulheres <a href="https://www12.senado.leg.br/institucional/omv/entenda-a-violencia/pdfs/politica-nacional-de- enfrentamento-a-violencia-contra-as-mulheres">[link]</a>
              podemos nomear essas:</p>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Accordion Item #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is hidden by default,
                  until the collapse plugin adds the appropriate classes that we use to style each
                  element. These classes control the overall appearance, as well as the showing and
                  hiding via CSS transitions. You can modify any of this with custom CSS or
                  overriding our default variables. It's also worth noting that just about any HTML
                  can go within the <strong>.accordion-body</strong>, though the transition does
                  limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as the
                  showing and hiding via CSS transitions. You can modify any of this with custom CSS
                  or overriding our default variables. It's also worth noting that just about any
                  HTML can go within the <strong>.accordion-body</strong>, though the transition
                  does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default,
                  until the collapse plugin adds the appropriate classes that we use to style each
                  element. These classes control the overall appearance, as well as the showing and
                  hiding via CSS transitions. You can modify any of this with custom CSS or
                  overriding our default variables. It's also worth noting that just about any HTML
                  can go within the <strong>.accordion-body</strong>, though the transition does
                  limit overflow.
                </div>
              </div>
            </div>
          </div>
          <button class="btn"> <a href="#poster"><img src="{% static 'img/down.png' %}" alt="" width="60"></a></button>



        </div>

      </section>


      <section id="poster">
        <div class="container">
          <h2>"a ideia de que somos</h2>  
          <h2>tão capazes de amar</h2> 
          <h2>mas escolhemos</h2> 
           <h2>ser tóxicos"</h2>
        </div>
        <div class="container-md">
          <h3>Rupi Kaur</h3>
        </div>
         
      </section>
      
      <section id="grid-template">
        <div class="section-title">
          <h2>Conteúdos Sugeridos</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. .</p>
        </div>
          <div>

            <section class="grid grid-template-areas-2">
              <div class="item logo"> </div>
              <div class="item nav"></div>
              <div class="item content"></div>
              <div class="item sidenav"></div>
              <div class="item advert"></div>
              <div class="item footer"></div>
            </section>
            </div>
  
      </section>

      <section id="poema">
        <div class="container"  data-aos="fade-up">
          <h1 class="titulo-principal">“A roupa era curta
            Ela merecia.
            O batom vermelho,
            Porte de vadia.
            Provoca o decote.
            Fere fundo o corte.
            Morte lenta ao ventre forte.
            Eu às vezes mudo o meu caminho,
            quando vejo que um homem vem em minha direção.
            Não sei se vem de rosa ou espinho,
            se é um tapa ou é carinho,
            o bendito ou agressão”
            (Amanda Pacífico / Cacau de Sá)</h1>
         
        </div>
        <script>
          function typeWrite(elemento){
            const textoArray = elemento.innerHTML.split('');
            elemento.innerHTML = ' ';
            textoArray.forEach(function(letra, i){   
              
            setTimeout(function(){
                elemento.innerHTML += letra;
            }, 75 * i)

          });
            }
            const titulo = document.querySelector('.titulo-principal');
            typeWrite(titulo);
                    </script>
                  </section>



  <!-- Video Final -->
  <section id="data-resource">

    <video controls poster="{% static 'img/woman-5.avif' %}" class="bg_video">
      <source src="{% static 'img/woman-1.mp4' %}" type="video/webm">
    </video>
  </section>
  <!-- End Video Final -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>    <script src="{% static 'bootstrap/aos.js' %}"></script>
    <script src="{% static 'bootstrap/glightbox.min.js' %}"></script>
    <script src="{% static 'bootstrap/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'bootstrap/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/carrousel.js' %}"></script>
    <script src="{% static 'js/carrousel-2.js' %}"></script>

  </body>
</html>