{% extends 'base.html' %}    
{% load static %}


{% block content %}


<!-- Header -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="index.html"><img src="#" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/home">Home</a></li>
        <li><a class="nav-link scrollto" href="/home/#carrousel">Introduçao</a></li>
        <li><a class="nav-link scrollto" href="#guia">Guia</a></li>
        <li><a class="nav-link scrollto" href="#map">Mapa da Violência</a></li>
        <li><a class="nav-link scrollto" href="#grid-template">+ Conteúdos</a></li>
        <li><a class="nav-link scrollto" href="#poema">Manifesto</a></li>
        <li><a class="nav-link scrollto" href="#poema">Sobre</a></li>
      </ul>
      <img class="bi bi-list mobile-nav-toggle" src="{% static 'img/menu.png' %}"></i>
    </nav>

  </div>
</header>
<!-- End Header -->

<section id="page_text">
    <div class="container">
        <div class="page_title">
            <div class="col-lm">
              <h2>Violência de gênero: a construção de um campo teórico e de investigação</h2></div>
            <div class="col-4"><h3>Lourdes Maria Bandeira</h3></div>
            <div class="col-2"><h4>21/10/2014</h4></div>
        </div>
        <div class="text">
          <h3>
            Este artigo trata da violência contra a mulher, ao mesmo tempo em que enfoca a condição de gênero como 
            categoria de análise central para a compreensão da dinâmica deste fenômeno. Inicialmente, localiza a precedência
             histórica da construção desse campo de estudo e de pesquisa no âmbito das ciências sociais, particularmente da sociologia, 
             sob um olhar feminista. Segue abordando a categoria de violência contra a mulher como questão central no cotidiano, uma vez que o 
             volume de denúncias das mais variadas formas de violência contra as mulheres tem persistência como relevante fenômeno social.
              Na sequência, destacam-se os locais institucionais de acolhimento deste fenômeno social, como as Delegacias Especializadas de 
              Atendimento à Mulher (Deam's) a partir dos anos 1980, assim como da área de saúde que, a partir dos anos 1990, se intensificou. 
              Por fim, destaca-se o marco jurídico de avanço nos direitos presentes na Lei Maria da Penha (n.º 11.340, de 7 de agosto de 2006) 
              e na sua efetiva aplicação.


          </h3>
          <h3>
            Este artigo trata da violência contra a mulher, ao mesmo tempo em que enfoca a condição de gênero como 
            categoria de análise central para a compreensão da dinâmica deste fenômeno. Inicialmente, localiza a precedência
             histórica da construção desse campo de estudo e de pesquisa no âmbito das ciências sociais, particularmente da sociologia, 
             sob um olhar feminista. Segue abordando a categoria de violência contra a mulher como questão central no cotidiano, uma vez que o 
             volume de denúncias das mais variadas formas de violência contra as mulheres tem persistência como relevante fenômeno social.
              Na sequência, destacam-se os locais institucionais de acolhimento deste fenômeno social, como as Delegacias Especializadas de 
              Atendimento à Mulher (Deam's) a partir dos anos 1980, assim como da área de saúde que, a partir dos anos 1990, se intensificou. 
              Por fim, destaca-se o marco jurídico de avanço nos direitos presentes na Lei Maria da Penha (n.º 11.340, de 7 de agosto de 2006) 
              e na sua efetiva aplicação.

          </h3>
          <h3>
            Este artigo trata da violência contra a mulher, ao mesmo tempo em que enfoca a condição de gênero como 
            categoria de análise central para a compreensão da dinâmica deste fenômeno. Inicialmente, localiza a precedência
             histórica da construção desse campo de estudo e de pesquisa no âmbito das ciências sociais, particularmente da sociologia, 
             sob um olhar feminista. Segue abordando a categoria de violência contra a mulher como questão central no cotidiano, uma vez que o 
             volume de denúncias das mais variadas formas de violência contra as mulheres tem persistência como relevante fenômeno social.
              Na sequência, destacam-se os locais institucionais de acolhimento deste fenômeno social, como as Delegacias Especializadas de 
              Atendimento à Mulher (Deam's) a partir dos anos 1980, assim como da área de saúde que, a partir dos anos 1990, se intensificou. 
              Por fim, destaca-se o marco jurídico de avanço nos direitos presentes na Lei Maria da Penha (n.º 11.340, de 7 de agosto de 2006) 
              e na sua efetiva aplicação.

          </h3>
        </div>
        <button type="button" class="btn btn-danger"> <a href="/home/#poster"> Voltar para página inicial</a></button>
    </div>
</section>




{% endblock %}