
{% extends 'base.html' %}    
{% load static %}


{% block content %}

 <!-- Home Section -->
 <section id="home">
  <div class="home-container">

      <a href="index.html" class="home-logo" data-aos="zoom-in"></a>
      <h1 data-aos="zoom-in">Repositório Online</h1>
      <h2 data-aos="fade-up">GUIA VIRTUAL SOBRE ATENDIMENTO A MULHERES VÍTIMAS DE VIOLÊNCIA</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="#theme-carrousel" class="btn-get-started scrollto">Introdução</a>
      <h3 data-aos="fade-up">VOCÊ, PROFISSIONAL DAS POLÍTICAS PÚBLICAS, QUE LIDA COM O PÚBLICO EM ALGUM
         MOMENTO TEVE OU TERÁ CONTATO COM SITUAÇÕES DE VIOLÊNCIA CONTRA A MULHER NO EXERCÍCIO DA SUA PROFISSÃO... 
         SEJA VOCÊ PSICÓLOGO, ASSISTENTE SOCIAL, EDUCADOR, ESCRIVÃO, ENTREVISTADOR SOCIAL, MÉDICO, AGENTE COMUNITÁRIO DE SAÚDE, 
         SERVIÇOS GERAIS... ESTEJA VOCÊ NO CRAS, CREAS, PSF, DDM, ESCOLA, CAPS, JUDICIÁRIO, OU QUALQUER OUTRO SERVIÇO PÚBLICO. 
        POR ISSO, ESTE GUIA É PARA VOCÊ; VOCÊ E SEUS COLEGAS DE TRABALHO. </h3>
        
        <h4 data-aos="fade-up" >É DE NOSSA RESPONSABILIDADE ACOLHER ESSA DEMANDA!</h4>

  </div>
</section>

<!-- End Home -->
<!-- Header -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="index.html"><img src="{% static 'img/unicamp-logo.png'%}" alt="imagemInicial" class="img-fluid"></a>
    </div>
  
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#home">Home</a></li>
        <li><a class="nav-link scrollto" href="#carrousel">Introduçao</a></li>
        <li><a class="nav-link scrollto" href="#guia">Guia</a></li>
        <li><a class="nav-link scrollto" href="#map">Mapa da Violência</a></li>
        <li><a class="nav-link scrollto" href="#poster">Referências</a></li>
        <li><a class="nav-link scrollto" href="#grid-template">+ Conteúdos</a></li>
        <li><a class="nav-link scrollto" href="#poema">Manifesto</a></li>
        <li><a class="nav-link scrollto" href="/about">Sobre</a></li>
      </ul>
      <img class="bi bi-list mobile-nav-toggle" src="{% static 'img/menu.png' %}"></i>
    </nav>

  </div>

  
</header>
<!-- End Header -->

<!-- Carrousel -->
<div class="carrousel" id="carrousel">
  <div class="owl-carousel owl-theme" id="theme-carrousel">

    {% for apresentacao in apresentacao_pesquisa %}
      <div class="item">
          <div class="box">
            <h3>{{apresentacao.primeiro_texto}}</h3>
            <h2>{{apresentacao.segundo_texto}}</h2>
            <h4>{{apresentacao.terceiro_texto}}</h4>
            <h4>{{apresentacao.quarto_texto}}</h4>
            <button type="button" class="btn btn-info">Acessar Pesquisa Completa</button>
          </div>
      <div>
      </div>

        <div class="box">
          <video src="{% static 'img/magoz-animation.mp4' %}" autoplay muted loop></video>
        </div>
      </div>

      {% endfor %}
      {% for slides in slides_pesquisa %}
      <div class="item">
          <div class="box">
                <h3>{{slides.primeiro_texto}}</h3>
                <h2>{{slides.segundo_texto}}</h2>
                <h4>{{slides.terceiro_texto}}</h4>
                <h4>{{slides.quarto_texto}}</h4>
            </div>
          <div>
      </div>
          <div class="box">
              <video src="{% static 'img/magoz-animation.mp4' %}" autoplay muted loop></video>
          </div>
      </div>
      {% endfor %}
    
    </div>

</div>
<!-- End Carrousel -->

<section id="btn-down">
  <div class="container">
    <a href="#guia">
    <img src="{% static 'img/down.png' %}" alt="botaoParaBaixo"></a>
  </div>
</section>

<!-- Features Section -->
<div class="guide" id="guia">
  <div class="title">
    <h2>Guia Virtual</h2>
    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias fugit tempora officiis quisquam autem error minus totam est, </h3>
  </div>
  {% for guia_videos in guia_videos %}
  <div class="col-12" data-aos="fade-left" data-aos-delay="100">
    <div class="col-sm">
      <iframe width="100%" height="100%" src="{{guia_videos.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm">
      <h2>{{guia_videos.primeiro_texto}}</h2>
      <h5><span class="pt">Participações: </span> {{guia_videos.segundo_texto}}</h5>
      <h3>{{guia_videos.terceiro_texto}}</h3>
      <button type="button" class="btn btn-danger">Compartilhar</button>
    </div>
  </div>
  {% endfor %}


  <section id="btn-down">
    <div class="container">
      <a href="#map">
      <img src="{% static 'img/down.png' %}" alt="botaoParaBaixo"></a>
    </div>
  </section>
</div>

<!-- End Features Section -->

<!-- End Features Section -->
  <div id="map" class="block">
    <div class="title">
      <h2>Mapa da Violência</h2>
      <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias fugit tempora officiis quisquam autem error minus totam est, </h3>
    </div>
    <div class="container">
    

      <div class="button-group">
        
        <button type="button" class="active" data-filter=".sexual">Violência Sexual</button>
        {% for tipos in tipos_violencia %}
        <button type="button"  data-filter=".{{tipos.slug}}"> {{tipos.nome}}</button>
        {% endfor %}

      </div>

      <div class="row grid">

        <div class="col-10 element-item sexual">
    
          <div class="box">
              <h2>obrigar ou coagir a mulher a ter ou participar de contato sexualizado, seja físico, verbal ou mesmo forçar a assistir, com uso de força, poder, intimidação, manipulação, chantagem, suborno, ameaça, ou qualquer meio que não seja de livre e espontânea vontade da mulher, incluindo fazê-la ter medo do que pode acontecer se não colaborar ou induzi-la sem que ela esteja em condições de decidir.
              </h2>     
          </div>

      </div>
        {% for tipos in tipos_violencia %}
          <div class="col-10 element-item {{tipos.slug}}">
    
              <div class="box">
                  <h2>{{tipos.descricao}}</h2>     
              </div>

          </div>
        {% endfor %}

      </div>

    </div>
  </div>
  
  <section id="btn-down">
    <div class="container">
      <a href="#poster">
      <img src="{% static 'img/down.png' %}" alt="imagem_slide"></a>
    </div>
  </section>
  <!-- End Features Section -->

  <section id="poster">

 <div class="grid-collum">
  <div class="item">
    <a href="{% url 'pages:page_text' %}">
    <img src="{% static 'img/magoz-education.webp' %}" alt="imagem_slide"></a>
    <h2>Texto 1 </h2>
</div>
<div class="item">
  <a href="{% url 'pages:page_text_two' %}">
    <img src="{% static 'img/magoz-our.webp' %}" alt="imagem_slide"></a>
    <h2>Texto 2</h2>
</div>
<div class="item">
  <a href="{% url 'pages:page_text_three' %}">
    <img src="{% static 'img/magoz.jpg' %}" alt="imagem_slide"></a>
    <h2>Texto 3 </h2>
</div>
 </div>

 

  
  </section>

<!-- End Features Section -->

<section id="btn-down">
  <div class="container" style="margin-top: -5vh;">
    <a href="#grid-template">
    <img src="{% static 'img/down.png' %}" alt="imagem_slide"></a>
  </div>
</section>
  <section id="grid-template">
    <div class="title">
      <h2>Conteúdos Úteis</h2>
      <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias fugit tempora officiis quisquam autem error minus totam est, </h3>
    </div>
    
      <div>
        <section class="grid grid-template-areas-2">
          {% for links in links_externos %}
          <div class="item {{links.tag_classe}}"> <a href="{{links.link}}">
            <h2>
              {{links.texto}}
            </h2>
          </a>
          </div>
          {% endfor %}
        </section>
        </div>
        <section id="btn-down">
          <div class="container">
            <a href="#poema">
            <img src="{% static 'img/down.png' %}" alt="botaoParaBaixo"></a>
          </div>
        </section>

  </section>
  <!-- End Poster Section -->

  <section id="poema">
    <img src="https://i.gifer.com/6xG.gif" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="GIF deep shkedimoto animation - animated GIF on GIFER - by Arashigul" 
    data-noaft="1">
    <div class="container">
      <h2>“A roupa era curta</h2>
        <h2> Ela merecia.</h2>
          <h2>O batom vermelho,</h2>
            <h2>Porte de vadia.</h2>
              <h2> Provoca o decote.</h2>
                <h2>  Fere fundo o corte.</h2>
                  <h2> Morte lenta ao ventre forte.</h2>
                    <h2> Eu às vezes mudo o meu caminho,</h2>
                      <h2>  quando vejo que um homem vem em minha direção.</h2>
                        <h2> Não sei se vem de rosa ou espinho,</h2>
                          <h2> se é um tapa ou é carinho,</h2>
                            <h2>o bendito ou agressão”</h2>
                              <h2> (Amanda Pacífico / Cacau de Sá)</h2>
     
    </div>
  </section>
<!-- Video Final -->
<section id="data-resource">

<video controls poster="{% static 'img/woman-5.avif' %}" class="bg_video">
  <source src="{% static 'img/woman-1.mp4' %}" type="video/webm">
</video>
</section>



{% endblock %}